body {
    position: relative;
    overflow-x: hidden;
}

// demo file .css


body {
	position: relative;
	background: #5f545a;
	color: #faf1e0;

	font-family: 'Lato', Arial, sans-serif;
}
.demo-7 .container {
	width: 100%;
	position: absolute;
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
	transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1) 0.1s;
}

.no-js.demo-7 .container {
	width: calc(100% - 300px);
	right: 0;
}
.pushed.container {
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
}
@media screen and (max-width: 770px) {
	.mockup-left {
		float: none;
		margin: 0 auto 20px;
	}

	.mockup-right {
		text-align: center;
	}

	.joiner {
		display: block;
	}
}

@media screen and (max-width: 400px) {
	.mockup-content > span:nth-last-child(2) {
		width: calc(100% - 210px);
	}
}
@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}



// onmponent file

.morph-button {
    position: relative;
    display: block;
    margin: 0 auto
}

.morph-button>button {
    position: relative;
    padding: 0 1em;
    border: none;
    background-color: #e85657;
    color: #f9f6e5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 80px;
    overflow: hidden
}

.morph-button.open>button {
    pointer-events: none
}

.morph-content {
    pointer-events: none
}

.morph-button.open .morph-content {
    pointer-events: auto
}

.morph-button-fixed,
.morph-button-fixed .morph-content {
    width: 300px;
    height: 80px
}

.morph-button-fixed>button {
    z-index: 1000;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .1s .5s;
    transition: opacity .1s .5s
}

.morph-button-fixed.open>button {
    opacity: 0;
    -webkit-transition: opacity .1s;
    transition: opacity .1s
}

.morph-button-fixed .morph-content {
    position: fixed;
    z-index: 900;
    opacity: 0;
    -webkit-transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s, margin .4s .1s;
    transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s, margin .4s .1s
}

.morph-button-fixed.open .morph-content {
    opacity: 1
}

.morph-button-fixed .morph-content>div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity .1s, visibility 0s .1s, height 0s .1s;
    transition: opacity .1s, visibility 0s .1s, height 0s .1s
}

.morph-button-fixed.open .morph-content>div {
    visibility: visible;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity .3s .5s;
    transition: opacity .3s .5s
}

.morph-button-fixed.active>button {
    z-index: 2000
}

.morph-button-fixed.active .morph-content {
    z-index: 1900
}

.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
    -webkit-transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s;
    transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s
}

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
    -webkit-transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s;
    transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s
}


.morph-button-sidebar {
    position: fixed;
    bottom: 50px;
    left: 50px
}

.morph-button-sidebar>button {
    line-height: 60px;
    font-size: 1.6em;
    padding: 0
}

.morph-button-sidebar .morph-content {
    background: #e85657
}

.morph-button-sidebar.open .morph-content {
    top: 0 !important;
    left: 0 !important;
    width: 300px;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden
}

.morph-button .morph-content,
.morph-button-modal-4 .morph-clone,
.morph-button.open .morph-content {
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: cubic-bezier(.7, 0, .3, 1)
}

.noscroll {
    overflow: hidden
}


.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content>div {
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    pointer-events: auto
}

.no-js .morph-button .morph-content .icon-close {
    display: none
}

.no-js .morph-button-sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    background: #e85657;
    overflow: auto
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important
}

@media screen and (max-width:600px) {
    .morph-button-modal.open .morph-content {
        top: 0 !important;
        left: 0 !important;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s;
        transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s
    }
}

@media screen and (max-width:400px) {

    .morph-button-modal-4,
    .morph-button-modal-4 .morph-content {
        width: 220px;
        height: 120px
    }

    .morph-button-modal-4>button {
        font-size: 100%;
        line-height: 50px
    }

    .morph-button-modal-4>button span {
        display: block
    }

    .morph-button-modal-4 .morph-clone {
        right: 83px;
        bottom: 26px
    }

    

    .morph-button-sidebar {
        bottom: 0;
        left: 0
    }

    .morph-button-sidebar.open .morph-content {
        height: 100% !important
    }
}

.morph-button {
    position: relative;
    display: block;
    margin: 0 auto
}

.morph-button>button {
    position: relative;
    padding: 0 1em;
    border: none;
    background-color: #e85657;
    color: #f9f6e5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.morph-button.open>button {
    pointer-events: none
}

.morph-content {
    pointer-events: none
}

.morph-button.open .morph-content {
    pointer-events: auto
}

.morph-button-fixed>button {
    z-index: 1000;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity .1s .5s;
    transition: opacity .1s .5s
}

.morph-button-fixed.open>button {
    opacity: 0;
    -webkit-transition: opacity .1s;
    transition: opacity .1s
}

.morph-button-fixed .morph-content {
    position: fixed;
    z-index: 900;
    opacity: 0;
    -webkit-transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s, margin .4s .1s;
    transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s, margin .4s .1s
}

.morph-button-fixed.open .morph-content {
    opacity: 1
}

.morph-button-fixed .morph-content>div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity .1s, visibility 0s .1s, height 0s .1s;
    transition: opacity .1s, visibility 0s .1s, height 0s .1s
}

.morph-button-fixed.open .morph-content>div {
    visibility: visible;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity .3s .5s;
    transition: opacity .3s .5s
}

.morph-button-fixed.active>button {
    z-index: 2000
}

.morph-button-fixed.active .morph-content {
    z-index: 1900
}

.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
    -webkit-transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s;
    transition: opacity .3s .5s, width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s
}

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
    -webkit-transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s;
    transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s
}



.morph-button-sidebar {
    position: fixed;
    bottom: 50px;
    left: 50px
}

.morph-button-sidebar>button {
    line-height: 60px;
    font-size: 1.6em;
    padding: 0
}

.morph-button-sidebar .morph-content {
    background: #e85657
}

.morph-button-sidebar.open .morph-content {
    top: 0 !important;
    left: 0 !important;
    width: 300px;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden
}

.morph-button .morph-content,
.morph-button-modal-4 .morph-clone,
.morph-button.open .morph-content {
    -webkit-transition-timing-function: cubic-bezier(.7, 0, .3, 1);
    transition-timing-function: cubic-bezier(.7, 0, .3, 1)
}

.noscroll {
    overflow: hidden
}
.morph-button-sidebar,
.morph-button-sidebar .morph-content {
    width: 60px;
    height: 60px
}


.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content>div {
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    pointer-events: auto
}

.no-js .morph-button .morph-content .icon-close {
    display: none
}

.no-js .morph-button-sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100%;
    background: #e85657;
    overflow: auto
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important
}

@media screen and (max-width:600px) {
    .morph-button-modal.open .morph-content {
        top: 0 !important;
        left: 0 !important;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s;
        transition: width .4s .1s, height .4s .1s, top .4s .1s, left .4s .1s
    }
}

@media screen and (max-width:400px) {
    .morph-button>button {
        border-radius: 0;
    }
    .content-style-sidebar .icon-close {
        right: none;
        left: 0;
    }
    .morph-button-fixed,
    .morph-button-fixed .morph-content {
        width: 200px;
        height: 80px;
    }

    .morph-button-modal-4,
    .morph-button-modal-4 .morph-content {
        width: 220px;
        height: 120px
    }

    .morph-button-modal-4>button {
        font-size: 100%;
        line-height: 50px
    }

    .morph-button-modal-4>button span {
        display: block
    }

    .morph-button-modal-4 .morph-clone {
        right: 83px;
        bottom: 26px
    }

    .morph-button-sidebar,
    .morph-button-sidebar .morph-content {
        width: 100% !important;
        height: 60px !important
    }

    .morph-button-sidebar {
        bottom: 0;
        left: 0
    }

    .morph-button-sidebar.open .morph-content {
        width: 100% !important;
        height: 100% !important;
    }
}

// content file

/* Icons */
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'icomoon';
	src:url('fonts/icomoon/icomoon.eot?i64fx9');
	src:url('fonts/icomoon/icomoon.eot?#iefixi64fx9') format('embedded-opentype'),
		url('fonts/icomoon/icomoon.woff?i64fx9') format('woff'),
		url('fonts/icomoon/icomoon.ttf?i64fx9') format('truetype'),
		url('fonts/icomoon/icomoon.svg?i64fx9#icomoon') format('svg');
}

.icon-close {
	z-index: 100;
	display: block;
	overflow: hidden;
	width: 3em;
	height: 3em;
	text-align: center;
	line-height: 3;
	cursor: pointer;
}

.icon:before {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'icomoon';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e017";
}

.icon-server:before {
	content: "\e022";
}

.icon-heart:before {
	content: "\e024";
}

.icon-zoom-in:before {
	content: "\e037";
}

.icon-microphone:before {
	content: "\e048";
}

.icon-cloud:before {
	content: "\e066";
}

.icon-user:before {
	content: "\e074";
}

.icon-briefcase:before {
	content: "\e075";
}

.icon-globe:before {
	content: "\e078";
}

.icon-cog::before {
	content: "\e600";
}

.icon-close::before {
	content: "\e601";
}

.icon-play::before {
	content: "\e602";
}

.icon-pause::before {
	content: "\e603";
}

.icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.icon-close:hover {
	color: #a50a05;
}


.content-style-sidebar h2 {
	font-weight: 300;
	font-size: 2em;
	padding: 0.75em 0 0.75em 1em;
	margin: 0;
	color: #bb4445;
}

.content-style-sidebar .icon-close {
	top: 0;
	right: 0;
	font-size: 0.85em;
}

.content-style-sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.content-style-sidebar ul li a {
	display: block;
	padding: 12px 20px;
	color: #faf1e0;
	font-weight: 400;
	font-size: 1.05em;
	box-shadow: inset 0 1px rgba(0,0,0,0.1);
}

.content-style-sidebar ul li:last-child a {
	box-shadow: inset 0 1px rgba(0,0,0,0.1), inset 0 -1px rgba(0,0,0,0.1);
}

.content-style-sidebar ul li a:hover {
	background: rgba(0,0,0,0.1);
	box-shadow: none;
}

.content-style-sidebar ul .icon::before {
	display: inline-block;
	width: auto;
	margin-right: 20px;
	font-size: 1.5em;
}

