//Colors
$primary-color: #d3b274 !default;
$secondary-color: #444 !default;
$aux-color-1: #ffffff !default;
$aux-color-2: #fafafa !default;
$header-text-color: #444 !default;
$text-color: #686868 !default;
$nav-color: #444 !default;
$nav-padding: 12px !default;

$grid-columns:      12 !default;
$grid-gutter-width: 30px !default;

$screen-xs-min: 480px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$primary-font: sans-serif;
$secondary-font: serif;



