<div class="morph-button morph-button-sidebar morph-button-fixed">
    <button type="button"><span class="icon icon-cog">Settings Menu</span></button>
    <div class="morph-content">
        <div>
            <div class="content-style-sidebar">
                <span class="icon icon-close">Close the overlay</span>
                <h2>Settings</h2>
                <ul>
                    <li><a class="icon icon-camera menu_1" href="#">Первая страница</a></li>
                    <li><a class="icon icon-server menu_2" href="#">Вторая страница</a></li>
                    <li><a class="icon icon-heart menu_3" href="#">Open 3</a></li>
                    <li><a class="icon icon-zoom-in menu_4" href="#">Readability</a></li>
                    <li><a class="icon icon-microphone menu_5" href="#">Speech</a></li>
                    <li><a class="icon icon-cloud menu_6" href="#">Uploads</a></li>
                    <li><a class="icon icon-user menu_7" href="#">Profile</a></li>
                    <li><a class="icon icon-briefcase menu_8" href="#">Documents</a></li>
                    <li><a class="icon icon-globe menu_9" href="#">Global Options</a></li>
                </ul>
            </div>
        </div>
    </div>
</div><!-- morph-button -->